{% set title = "Register" %}
{% set navclass = "my-nav" %}
{% include '_header.html' %}
    <div class="register-wrapper">
      <div class="container">
        <h1>Patient Registration</h1>
        {% from "_formhelper.html" import render_field %}
        <form method="POST">
                {{ form.csrf_token }}
                {{ render_field(form.fname) }}
                {{ render_field(form.lname) }}
                {{ render_field(form.phone) }}
                {{ render_field(form.email) }}
                {{ render_field(form.dob) }}
                {{ render_field(form.gender) }}
                {{ render_field(form.address) }}
                {{ render_field(form.city) }}
                {{ render_field(form.state) }}
                {{ render_field(form.postcode) }}

                <input type="submit" class='btn btn-primary' value="Register">
                <a href="/patient" class="btn btn-primary">Already Registered</a>
        </form>
      </div>
    </div>
{% include '_footer.html' %}
